body {
    text-align: center;
    background: pink;
}

h1 {
    color: coral;
    font-size: 50px;
}

h2 {
    color: blueviolet;
    font-size: 30px;
}

h3 {
    color: darkgreen;
    font-size: 30px;
}

h4 {
    color: chocolate;
    font-size: 30px;
}

h5 {
    color: darkolivegreen;
    font-size: 30px;
}

p {
    color: blue;
}

img {
    height: 300px;
    width: 350px;
}
